<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/partials.css" />
    <title>Blog Website</title>
  </head>
  <body>
    <div class="nav">
      <div class="icon">📖</div>
      <div class="tags">
        <a class="navBtns" href="/">Home</a>
        <a class="navBtns" href="/create">Create Post</a>
      </div>
    </div>
  </body>
</html>
