<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/creation.css" />
    <link rel="stylesheet" href="styles/partials.css" />
    <title>Blog Website</title>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <div class="creationBody">
      <div class="creationForm">
        <h1>Create Post</h1>
        <form action="/posts" method="post">
          <label for="title">Title</label>
          <input type="text" name="title" required />
          <label for="content">Content</label>
          <textarea
            name="content"
            id="content"
            cols="30"
            rows="10"
            placeholder="Please Write your blog"
            required
          ></textarea>
          <div class="submitBtn">
            <input type="submit" value="Post Now" />
          </div>
        </form>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
