<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/creation.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Page Not Found</title>
</head>
<body>
    <div class="pathError">
        <h1><%= message %></h1>
        <p>The post you are looking for does not exist.</p>
        <a href="/" class="mainButton">Go Back To Home Page</a>
    </div>
</body>
</html>