* {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: grey;
  padding: 0.5rem 2rem;
}
.tags {
  display: flex;
  gap: 2rem;
}
.navBtns {
  text-decoration: none;
  color: white;
}
.navBtns:hover {
  color: lightgrey;
}
.footer p {
  height: 30px;
  color: white;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
 /* updating-btns  */
.updateBtnsDiv{
  display: flex;
  justify-content: end;
  margin-top: 2rem;
  gap: 1rem;
}
.updateBtns{
  font-size: 1rem;
  border-radius: .5rem;
  padding: .5rem;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(52, 142, 198);
  background-color: rgb(175, 200, 169);;
}
.updateBtns:hover{
  color: white;
  background-color: rgb(51, 43, 43);
}